.markerImg {
  transition: all 10s;

  &NoTransition {
    transition: all 0s;
  }

  > div {
    position: relative;
    height: 100%;

    > span {
      position: absolute;
      text-align: center;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      line-height: 25px;
      font-size: 10px;
    }
  }
}

.problemList {
  padding-left: 0;
  list-style: none;
  margin-top: 0;
}

.problemLink {
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
}
