.markerImg {
  transition: all 10s;
  > div {
    position: relative;
    height: 100%;

    > span {
      position: absolute;
      text-align: center;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      line-height: 25px;
      font-size: 10px;
      color: lightgray;
    }
  }
}
