.root {
  display: flex;
  flex-direction: column;
  /**
   * see hacks.ts -> theTrickToViewportUnitsOnMobile
   */
  height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

.map {
  flex-grow: 1;
}
