.root {
  display: flex;
  flex-direction: column;
  /*
   * This will make height, as big as screen size
   * using 100vh does not take into consideration address bar,
   * and map is bigger then screen height
   */
  height: stretch;
}

.map {
  flex-grow: 1;
}
